.header__container {
  display: flex;
  justify-content: flex-start;
}

.header__container-title {
  text-align: left;
}

.header__container-title h1 {
  text-align: left;
  text-transform: capitalize;
  color: var(--color-text);
  margin-bottom: 0.3em;
}
