.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__container {
  display: flex;
}

.navbar__container-logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar__container-logo img {
  width: 150px;
}

.navbar__container-navlinks {
  margin-left: 2em;
  flex: 3;
  display: flex;
}

.navbar__container-navlinks ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar__container-navlinks ul li,
.navbar__menu-container ul li {
  margin-right: 1.2em;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.5em;
  padding: 0.2em 0.5em;
}

.navbar__menu-container ul li a,
.navbar__container-navlinks ul li a {
  padding: 0.2em;
}

.navbar__menu-container ul li a.active,
.navbar__container-navlinks ul li a.active {
  padding: 0.2em;
  background-color: #fac63d;
  border-radius: 0.2em;
}

.navbar__menu {
  flex: 1;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.navbar__menu-icon {
  display: none;
  cursor: pointer;
  left: start;
}

.navbar__menu-container {
  position: absolute;
  top: 35px;
  right: 0;
  display: flex;
  align-items: flex-end;
  background-color: var(--color-secondary);
  min-width: 100px;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.352);
}

@media screen and (max-width: 780px) {
  .navbar__menu-icon {
    display: block;
  }

  .navbar__container-navlinks {
    display: none;
  }
}
